@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

$black-text: #3d4759;
$primary: #332796;
$secundary: #8c5aec;
$tertiary: #6654fa;
$gray: #e3e7ed;
$white: #ffffff;

$transition-100: all 100ms;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%; //1rem = 10px
}
a {
    text-decoration: none;
    color: $black-text;
}
input {
    border: none;
    outline: none;
}
//Scroll Personalizado
/* 1 */
::-webkit-scrollbar {
    width: 15px;
}

/* 2 */
::-webkit-scrollbar-button {
    display: none;
}

/* 3 */
::-webkit-scrollbar-track {
    background: $white;
}

/* 4 */
::-webkit-scrollbar-track-piece {
    border: 2px solid $white;
    border-radius: 5px;
}

/* 5 */
::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 5px;
    border: 1px solid $gray;
}
//----------------------------------
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: $secundary !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input[type="radio"] {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    &:checked {
        background-color: $secundary;
        color: $secundary;
    }
}
.select2 {
    width: 50% !important;
}
.select2-container {
    font-size: 1.8rem;
    li {
        font-size: 1.8rem;
    }
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid $white;
    border-bottom-color: $secundary;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: none;
}
// SHOW/CLOSE MENU LATERAL
.show-ml {
    margin-left: 0;
    transition: all linear 200ms;
}
.close-ml {
    margin-left: -355px;
    transition: all linear 200ms;
}
.hide {
    display: none !important;
}
%d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
img {
    user-select: none;
}
input::placeholder {
    color: #322796d0;
}
.modal {
    .modal-dialog {
        width: 80vw;
        max-width: initial;
        .modal-content {
            .modal-header {
                border: none;
                .close {
                    padding: 10px 10px 0 0;
                    float: right;
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 1;
                    color: $primary;
                    text-shadow: none;
                    opacity: 1;
                    &:focus,
                    &:focus-visible,
                    &:active {
                        outline: none !important;
                        border: none !important;
                        color: $secundary !important;
                        box-shadow: none !important;
                        background-color: transparent !important;
                    }
                }
                .modal-title {
                    font-size: 2rem;
                }
            }
            .modal-body {
                table {
                    text-align: center;
                    border-collapse: collapse;
                    color: $black-text;
                    width: 100%;
                    thead {
                        background-color: $white;
                        color: $secundary;
                        th {
                            background-color: $gray;
                        }
                    }
                    th {
                        font-size: 1.8rem;
                    }
                    th,
                    td {
                        width: 10%;
                        padding: 7px;
                    }
                    td {
                        font-size: 1.6rem;
                    }

                    tbody {
                        .edit,
                        .del {
                            a {
                                padding: 5px 15px;
                                width: fit-content;
                                height: fit-content;
                                display: flex;
                            }
                        }

                        font-size: 1.6rem;
                        th {
                            font-size: 1.6rem;
                            font-weight: 600;
                        }
                        tr {
                            &:nth-child(even) {
                                background-color: $gray;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-login {
    @extend %d-flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background: $white;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;

        background: radial-gradient(circle, #00000000 0%, #8d5aec4f 100%);
    }
    .form {
        @extend %d-flex;
        position: relative;
        z-index: 3;
        flex-direction: column;
        gap: 2rem;
        height: 600px;
        width: 400px;
        padding: 50px;
        border-radius: 20px;
        border: 1px solid #ffffff42;
        background-color: $gray;
        box-shadow: 0px 0px 10px 1px #00000052;

        img {
            // display: none;
            transition: $transition-100;
            object-fit: contain;
            object-position: center;
            width: 100%;
            max-width: 200px;
        }
        h1 {
            color: $black-text;
            font-size: 3.6rem;
            font-weight: 600;
        }
        .textfield {
            padding: 5px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            position: relative;
            margin-bottom: 1em;
            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 3%;
                top: 36%;
                z-index: 5;
                path,
                circle {
                    fill: $black-text;
                }
            }
            .has-val.input2 + .focus-input2::after {
                top: -25%;
                left: 1%;
                font-size: 1.6rem;
            }

            .input2:focus + .focus-input2::after {
                top: -25%;
                left: 1%;
                font-size: 1.6rem;
            }
            .input2 {
                width: 100%;

                padding: 15px 50px 15px 50px;

                border: none;
                outline: none;
                font-size: 16px;
                background-color: $white;
                backdrop-filter: blur(10px);
                box-shadow: 0px 0px 10px 1px #00000052;
                border-radius: 5px;
                font-size: 1.8rem;
                color: $black-text;
            }
            .focus-input2 {
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                top: -10%;
                left: 0%;
                pointer-events: none;

                &::after {
                    line-height: 1.2;
                    content: attr(data-placeholder);
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 45%;
                    left: 12%;
                    padding-left: 5px;
                    -webkit-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    transition: all 0.2s;
                    box-sizing: inherit;
                    font-size: 1.8rem;
                    color: $black-text;
                }
            }
        }
        input[type="submit"] {
            border: none;
            width: 100%;
            height: 50px;
            padding: 10px;
            border-radius: 20px;
            margin: 1rem 0;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 2px;
            border: 1px solid #ffffff33;
            transition: $transition-100;
            color: $black-text;
            color: $white;
            background-color: $secundary;
            &:hover {
                transition: $transition-100;
                background-color: #854eeb;
            }
            // box-shadow: 0px 0px 10px 1px #00000052;
        }

        .textfield-radio {
            display: flex;
            gap: 10px;
            align-items: start;
            h2 {
                color: $black-text;
                align-self: center;
                font-size: 20px;
                margin-top: 0.5em;
            }
            label {
                input {
                    margin-right: 5px;
                }
            }
        }

        a {
            color: $black-text;
        }
        .msg-alerta {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 600;
            color: $white;
            padding: 10px 5px;
            border-radius: 10px;
            background-color: #fd00001c;
            margin-bottom: 1rem;
            width: 100%;
        }
    }
}

.main-index {
    background: $white;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;

    .form {
        margin: 50px;
        width: 100%;
        height: 100%;
        padding: 3em 10px;
        border-radius: 10px;
        background-color: $gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        gap: 2rem;
        @media screen {
            @media (max-width: 600px) {
                width: 100vw;
            }
            @media (max-height: 1026px) {
                max-height: 80vh;
            }
            @media (max-height: 600px) {
                max-height: 100vh;
            }
        }

        a {
            width: fit-content;
        }
        .btn-cadastrar {
            display: block;
            margin-top: 8px;
            color: $white;
        }
        .msg-alerta {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 600;
            color: $white;
            padding: 10px 5px;
            border-radius: 10px;
            background-color: #fd00001c;
            margin-bottom: 1rem;
            width: 100%;
        }
        h1 {
            color: $secundary;
            font-size: 3.6rem;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        p {
            color: $black-text;
            font-size: 1.8rem;
            font-weight: 400;
        }
        .textfield {
            padding: 5px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 75%;
            position: relative;
            margin-bottom: 1em;
            // label{
            //     font-size: 20px;
            //     font-weight: 600;
            //     padding: 5px;
            //     color: $black-text;
            // }
            .has-val.input2 + .focus-input2::after {
                top: -20%;
            }

            .input2:focus + .focus-input2::after {
                top: -20%;
            }
            .input2 {
                width: 100%;

                padding: 15px;

                border: none;
                outline: none;
                font-size: 16px;
                background-color: $white;
                backdrop-filter: blur(10px);
                box-shadow: 0px 0px 10px 1px #00000052;
                border-radius: 5px;
                font-size: 1.8rem;
                color: $black-text;
            }
            .focus-input2 {
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                top: -10%;
                left: 1%;
                pointer-events: none;

                &::after {
                    line-height: 1.2;
                    content: attr(data-placeholder);
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 45%;
                    left: 0%;
                    padding-left: 5px;
                    -webkit-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    transition: all 0.2s;
                    box-sizing: inherit;
                    font-size: 1.8rem;
                    color: $black-text;
                }
            }
        }
        .textfield-radio {
            display: flex;
            gap: 30px;
            align-items: start;
            h2 {
                color: $black-text;
                align-self: center;
                font-size: 20px;
                margin-top: 0.5em;
            }
            label {
                font-size: 1.8rem;
                input {
                    margin-right: 5px;
                }
            }
        }
        input[type="submit"] {
            border: none;
            width: 50%;
            height: 50px;
            padding: 10px;
            border-radius: 20px;
            margin: 1rem 0;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 2px;
            border: 1px solid #ffffff33;
            transition: $transition-100;
            color: $white;
            background-color: $secundary;
            &:hover {
                transition: $transition-100;
                background-color: #854eeb;
            }
        }
        a {
            font-size: 1.6rem;
            color: $black-text;
        }
    }
    .menu-lateral {
        svg {
            width: 25px;
            height: 25px;
            path {
                fill: $black-text;
            }
        }
        position: relative;
        padding: 30px 15px;
        width: 450px;
        height: 100vh;
        box-shadow: 0px 0px 10px 1px #00000052;

        @extend %d-flex;
        align-items: start;
        justify-content: flex-end;
        gap: 2rem;
        background-color: $gray;

        .conteudo-esquerdo {
            @extend %d-flex;
            justify-content: space-between;
            flex-direction: column;

            width: 100%;
            height: 100%;
            .principal {
                @extend %d-flex;
                gap: 2rem;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                width: 100%;

                &__title {
                    font-size: 3.6rem;
                    text-align: center;
                    font-weight: 400;
                    color: $black-text;
                    // border-top: 1px solid $primary;
                    // border-bottom: 1px solid $primary;
                    &--destack {
                        font-weight: 600;
                        color: $secundary;
                    }
                }
                &__logo {
                    img {
                        transition: $transition-100;
                        object-fit: contain;
                        object-position: center;
                        width: 100%;
                        max-width: 150px;
                    }
                    &:hover {
                        img {
                            transition: $transition-100;
                            scale: 1.05;
                        }
                    }
                }
                .nav-bar {
                    margin-top: 2rem;
                    width: 100%;
                    @extend %d-flex;
                    align-items: start;
                    flex-direction: column;
                    gap: 1rem;
                    .box-nav-bar {
                        width: 100%;
                    }
                    &__title {
                        transition: $transition-100;
                        font-size: 1.8rem;
                        color: $black-text;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        user-select: none;
                        cursor: pointer;
                        svg {
                            width: 15px;
                            height: 15px;
                            path {
                                transition: $transition-100;
                                fill: $secundary;
                            }
                        }
                        .ico-nav {
                            width: 25px;
                            height: 25px;
                            path {
                                fill: $black-text;
                            }
                        }
                        &:hover {
                            color: $secundary;
                            transition: $transition-100;
                            .ico-nav {
                                path {
                                    fill: $secundary;
                                    transition: $transition-100;
                                }
                            }
                        }
                    }
                    &__itens {
                        @extend %d-flex;
                        align-items: start;
                        flex-direction: column;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        padding-left: 4rem;
                        gap: 0.5rem;
                        user-select: none;
                    }
                    &__item {
                        transition: $transition-100;
                        position: relative;
                        font-size: 1.6rem;
                        line-height: 2rem;
                        color: $black-text;
                        user-select: none;
                        text-decoration: none;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translate(0, -50%);
                            background-color: $secundary;
                            width: 0.5rem;
                            height: 0.5rem;
                            transition: $transition-100;
                            border-radius: 50%;
                            margin-left: -3rem;
                        }
                        &:hover {
                            transition: $transition-100;
                            color: $primary;
                            &::before {
                                transition: $transition-100;
                                background-color: $primary;
                            }
                        }
                    }
                }
            }
            .footer {
                width: 100%;
                @extend %d-flex;
                justify-content: space-between;
                .box-conta {
                    position: relative;
                    .itens-conta {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
        .icon-menu {
            height: 100%;
            @extend %d-flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 9px;
            button {
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                svg {
                    width: 40px;
                    height: 40px;
                    path {
                        fill: $secundary;
                    }
                }
            }
        }
    }
    .corpo {
        @extend %d-flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        h1 {
            color: $secundary;
            font-size: 8rem;
            line-height: 0.9em;
            margin-bottom: 0.5em;
            span {
                color: $black-text;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 8rem;
                font-style: italic;
            }
        }
        p {
            font-size: 1.8rem;
        }
    }
    .corpo-produto {
        width: 100%;
        padding: 0px 20px 20px 20px;
        overflow: auto;
        @media screen and (max-width: 1100px) {
            margin: 10px;
            width: 100%;
        }
        svg {
            width: 20px;
            height: 20px;
        }
        > .cabecalho {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            margin-bottom: 20px;
            .limpar {
                @extend %d-flex;
                text-decoration: none;
                background-color: $secundary;
                border: none;
                width: 10%;
                height: 40px;
                padding: 10px;
                border-radius: 5px;
                margin: 1rem 0;
                font-size: 1.8rem;
                color: $white;
                transition: $transition-100;
                &:hover {
                    transition: $transition-100;
                    background-color: #854eeb;
                }
            }
            .importar {
                font-size: 1.2em;
                font-weight: 700;
                border: 2px solid $secundary;
                padding: 4px 8px;
                background-color: #ededed;
                color: $secundary;
                border-radius: 5px;
                &:hover {
                    background-color: $secundary;
                    color: #ededed;
                }
            }
            .box-busca {
                height: 40px;
                position: relative;
                form {
                    height: 100%;
                    .busca {
                        height: 100%;
                        padding: 5px 10px;
                        font-size: 1.6rem;
                        border-radius: 5px 0 0 5px;
                        min-width: 350px;
                        color: $black-text;
                        background-color: $gray;
                    }
                    .btn-busca {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;

                        position: absolute;
                        right: 0;
                        top: 0;
                        border-radius: 0 5px 5px 0;
                        height: 40px;
                        border: none;
                        background-color: $secundary;
                        transition: $transition-100;
                        cursor: pointer;
                        &:hover {
                            transition: $transition-100;
                            background-color: #854eeb;
                        }
                        &:focus,
                        &:active,
                        &:focus-visible,
                        &:focus-within {
                            border: none !important;
                            outline: none !important;
                        }
                        svg {
                            width: 40px;
                            height: 30px;
                            transition: $transition-100;
                            &:hover {
                                transition: $transition-100;
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }
        table {
            width: 100%;
            .id {
                width: 5%;
            }
            .nome {
                width: 25%;
            }
            .edit {
                width: 5%;
            }
            .visuModal {
                width: 5%;
            }
            text-align: center;
            border-collapse: collapse;
            color: $black-text;
            background-color: $white;
            thead {
                background-color: $gray;
                color: $secundary;
                position: sticky;
                top: 0;
                left: 0;
                @media screen and (max-width: 1100px) {
                    font: 16px !important;
                }
            }
            th {
                font-size: 1.8rem;
            }
            th,
            td {
                width: 15%;
                padding: 7px;
            }
            tbody {
                @media screen and (max-width: 1100px) {
                    font: 14px !important;
                }
                .edit,
                .del {
                    a {
                        padding: 5px 15px;
                        width: fit-content;
                        height: fit-content;
                        display: flex;
                    }
                }
                font-size: 1.6rem;
                th {
                    font-size: 1.6rem;
                    font-weight: 600;
                }
                tr {
                    &:nth-child(even) {
                        background-color: $gray;
                    }
                    td {
                        button {
                            color: $secundary;
                            border: none;
                            background-color: transparent;
                            font-size: 1.6rem;
                            &:focus,
                            &:focus-visible,
                            &:active {
                                border: none !important;
                                color: $secundary !important;
                                box-shadow: none !important;
                                background-color: transparent !important;
                            }
                        }
                    }
                }
                svg {
                    path {
                        fill: $secundary;
                    }
                }
            }
        }
    }
    .cadastrar-prod,
    .entrada-prod,
    .saida-prod {
        width: 100%;
        margin: auto;
        .msg {
            width: fit-content;
            margin: 0 auto 50px auto;
            .msg-alerta {
                text-align: center;
                font-size: 1.8rem;
                font-weight: 600;
                color: $white;
                padding: 10px 5px;
                border-radius: 10px;
                background-color: #fd00001c;
                margin-bottom: 1rem;
                width: 100%;
            }
        }
        .box-cadastro {
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;
            flex-direction: column;
            width: 50%;
            margin: auto;
            // box-shadow: 0px 0px 40px 9px #c9c9c9;
            border: 1px solid #ffffff42;
            background: $gray;
            padding: 50px;
            height: fit-content;
            border-radius: 10px;
            @media screen and (max-width: 1300px) {
                width: 80%;
            }
            h1 {
                color: $secundary;
                font-size: 3.6rem;
                font-weight: 600;
                margin-bottom: 15px;
            }
            .textfield {
                display: flex;
                justify-content: start;
                align-items: baseline;
                width: 100%;
                label {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: $primary;
                    width: fit-content;
                    text-align: end;
                    padding-right: 5px;
                    white-space: nowrap;
                }
                input {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: $black-text;
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 5px;
                    border-bottom: 1px solid #e9e9e9;
                }
            }
            .textfield-radio {
                display: flex;
                gap: 30px;
                align-items: start;
                h2 {
                    color: $black-text;
                    align-self: center;
                    font-size: 20px;
                    margin-top: 0.5em;
                }
                label {
                    font-size: 1.8rem;
                    input {
                        margin-right: 5px;
                    }
                }
            }
            .categoria {
                select {
                    cursor: pointer;
                    padding: 5px 8px;
                    border-radius: 5px;
                    color: $black-text;
                    font-size: 1.8rem;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    text-align: center;
                    width: fit-content;

                    option {
                        text-align: start;
                        margin: 0 auto;
                        width: fit-content;
                        font-size: 1.8rem;
                    }
                }
                span {
                    font-size: 1.8rem;
                }
                button {
                    color: $secundary;
                    margin-bottom: 0.5rem;
                    border: none;
                    margin-left: 10px;
                    background-color: transparent;
                    font-size: 2rem;
                    &:focus,
                    &:focus-visible,
                    &:active {
                        border: none !important;
                        color: $secundary !important;
                        box-shadow: none !important;
                        background-color: transparent !important;
                    }
                }
            }

            input[type="submit"] {
                border: none;
                width: 50%;
                height: 50px;
                padding: 10px;
                border-radius: 20px;
                margin: 1rem 0;
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: bold;
                letter-spacing: 2px;
                border: 1px solid #ffffff33;
                transition: $transition-100;
                color: $black-text;
                color: $white;
                background-color: $secundary;
                &:hover {
                    transition: $transition-100;
                    background-color: #854eeb;
                }
            }
            a {
                font-size: 1.6rem;
                color: $black-text;
            }
        }
    }
    .modal-categoria {
        width: 25%;
        margin: auto;
        .modal-dialog {
            width: 100%;
            .modal-content {
                width: 100%;
                background-color: $gray;
                border: none;
                border-radius: 10px;
                padding: 20px;
                .modal-body {
                    width: 100%;
                    form {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        input[type="text"] {
                            background: #fff;
                            width: 100%;
                            border-radius: 5px;
                            padding: 10px 5px;
                            font-size: 1.8rem;
                            color: $black-text;
                        }
                        input[type="submit"] {
                            border: none;
                            width: 40%;
                            height: 50px;
                            padding: 10px;
                            border-radius: 20px;
                            margin: 1rem 0;
                            cursor: pointer;
                            font-size: 1.8rem;
                            font-weight: bold;
                            letter-spacing: 2px;
                            border: 1px solid #ffffff33;
                            transition: $transition-100;
                            color: $black-text;
                            color: $white;
                            background-color: $secundary;
                            &:hover {
                                transition: $transition-100;
                                background-color: #854eeb;
                            }
                        }
                    }
                }
            }
        }
    }
    .box-importar {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        flex-direction: column;
        width: 50%;
        margin: auto;
        // box-shadow: 0px 0px 40px 9px #c9c9c9;
        border: 1px solid #ffffff42;
        background: $gray;
        padding: 50px;
        height: fit-content;
        border-radius: 10px;
        @media screen and (max-width: 1300px) {
            width: 80%;
        }
        h1 {
            color: $secundary;
            margin-bottom: 15px;
            font-size: 3.6rem;
            font-weight: 600;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: inherit;
            .textfield {
                display: flex;
                justify-content: start;
                align-items: baseline;
                gap: 1rem;
                width: 80%;
                input {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: $black-text;
                }
            }
            button[type="submit"] {
                background-color: $white;
                border: none;
                width: 50%;
                height: 50px;
                padding: 10px;
                border-radius: 20px;
                margin: 1rem 0;
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: bold;
                letter-spacing: 2px;
                color: $black-text;
                border: 1px solid #ffffff33;
                transition: $transition-100;
                &:hover {
                    color: $black-text;
                    background-color: #f5f5f5;
                }
            }
            a {
                font-size: 1.6rem;
                color: $black-text;
            }
        }
    }
}

@keyframes minha-conta {
    0% {
        opacity: 0;
        padding: 0;
        left: -220%;
    }
    75% {
        opacity: 0;
        left: 15%;
    }
    100% {
        opacity: 100;
        left: 20%;
    }
}
